*.swp
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
**/.bloop

.metals/
metals.sbt
metals/project/

.DS_Store

# just for now while I'm developing
*.conf
